<h1>Welcome to Flutter!!!</h1>
<h3>Why not join the wonderful comunity of over 2 million people?</h3>
<p><%= link_to('Sign Up', new_user_registration_path) %> </p>
<h4>Already have an account? Then why aren't you signed in?</h4>
<p><%= link_to('Sign In', new_user_session_path) %> </p>